@font-face {
  font-family: 'JetBrainsMono';
  src: local('JetBrainsMono'), url('./fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff');
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5e5e5e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  color: #f8f8f8;
  padding: 16px;
}

.game-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #242831;
}

.game-logo {
  width: 300px;
  height: 140px;
}

.game-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 140px;
  transition: height 0.5s ease;
}

.game-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #c7d5e0;
}

.game-desc {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 5px;
}

.game-icons {
  display: flex;
  flex-wrap: wrap;
}

.game-icon {
  margin-top: 10px;
  margin-right: 10px;
  width: 48px;
  height: 48px;
}

.game-icon-fake {
  border: 1px solid #848f97;
  background-color: #171a21;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.App-body li {
  list-style-type: none;
  font-size: 1.2em;
}

.App-body ul {
  margin-left: 0;
  padding-left: 0;
}

.App-body a {
  color: #c7d5e0;
  text-decoration: none;
}

.App-body h2 {
  line-height: 1;
}

.App-link {
  color: #61dafb;
}

.question-icon {
  vertical-align: middle;
  font-size: 0.8em;
  color: #888;
  margin-left: 5px;
}

.user-stats {
  margin-top: 20px;
  margin-bottom: 20px;
}

.stats-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-block {
  flex-grow: 1;
  font-size: 36px;
  line-height: 36px;
  font-family: 'JetBrainsMono';
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.hide-button {
  margin-top: 10px;
  width: 100px;
}

.custom-container {
  margin-right: 20px;
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}